link {
  display: none;
}

html * {
  font-family: "Lucida Console", "Courier New", monospace;
}

body{
  background-image: url(http://data.whicdn.com/images/156440378/original.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hobbies {
  font-family: Papyrus, fantasy;
  padding-left:40px;
  background-color: brown;
  background-color: rgba(153,76,0,.9);
  color: white;
}

.intro {
  font-family: Papyrus, fantasy;
  background-color: brown;
  background-color: rgba(153,76,0,.9);
  color: white;
}

.skills {
  font-family: Papyrus, fantasy;
  padding-left:40px;
  background-color: brown;
  background-color: rgba(153,76,0,.9);
  color: white;
}
